---
name: Test docker images

on: [pull_request]

env:
  # renovate: datasource=docker depName=tonistiigi/binfmt versioning=loose
  BINFMT_IMAGE: qemu-v9.2.0@sha256:ea2f0dd74e74f101df59f9a6b31d0960994060c7982a921cbceecee0f1841125

jobs:
  ci:
    name: Build and test
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          show-progress: false

      - name: Setup Bats
        uses: bats-core/bats-action@42fcc8700f773c075a16a90eb11674c0318ad507 # 3.0.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          image: tonistiigi/binfmt:${{ env.BINFMT_IMAGE }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build 15.0
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: false
          platforms: linux/amd64
          cache-from: type=gha,scope=15.0
          context: .
          file: stable/Dockerfile
          provenance: false
          load: true
          tags: |
            aclemons/slack-lambda:15.0

      - name: Build current
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: false
          platforms: linux/amd64
          cache-from: type=gha,scope=current
          context: .
          file: current/Dockerfile
          provenance: false
          load: true
          tags: |
            aclemons/slack-lambda:current

      - name: Build current (arm64)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: false
          platforms: linux/arm64/v8
          cache-from: type=gha,scope=current-arm
          context: .
          file: current/Dockerfile
          provenance: false
          load: true
          tags: |
            aclemons/slack-lambda:current-arm

      - name: Start docker compose
        run: |
          docker compose up -d --build --wait --quiet-pull

      - name: Run tests
        run: |
          bats tests
