---
name: Seed Caches

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  seed-150:
    name: Seed 15.0 cache from master branch for PR checks.
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build 15.0
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          push: false
          platforms: linux/amd64
          cache-from: type=gha,scope=15.0
          cache-to: type=gha,mode=max,scope=15.0
          context: .
          file: stable/Dockerfile
          provenance: false
          tags: |
            aclemons/slack-lambda:15.0

  seed-current-amd64:
    name: Seed -current amd64 cache from master branch for PR checks.
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build current
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          push: false
          platforms: linux/amd64
          cache-from: type=gha,scope=current
          cache-to: type=gha,mode=max,scope=current
          context: .
          file: current/Dockerfile
          provenance: false
          tags: |
            aclemons/slack-lambda:current

  seed-current-arm64:
    name: Seed -current arm64 cache from master branch for PR checks.
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false
          persist-credentials: false

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build current (arm64)
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          push: false
          platforms: linux/arm64/v8
          cache-from: type=gha,scope=current-arm
          cache-to: type=gha,mode=max,scope=current-arm
          context: .
          file: current/Dockerfile
          provenance: false
          tags: |
            aclemons/slack-lambda:current-arm
